.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20%;
    padding: 1em 1em 0 1em;
    background-color: rgb(68, 68, 68);
}

.h4{ font-size: 1.6em; color: rgb(201, 201, 201); margin-bottom: .5em; }

.network{
    margin-top: .7em;
    font-size: 1.3em;
    color: rgb(138, 138, 138);
    text-align: center;
    padding: .3em .6em;
}
.network svg{ vertical-align: text-top;  }
.network:hover{ color: rgb(201, 201, 201); }

.span{
    text-decoration: underline;
    font-size: 1.5em;
    color: rgb(201, 201, 201);
}

.p{ margin: .5em 0; color: rgb(201, 201, 201) }
